<div id="status">
</div>

<h1>Welcome to Signuper, all we do is Signning you up all day long!</h1>

<% if @current_user %>
  <h2>wohoo, you have signed up!</h2>
  <%= link_to 'Logout', logout_path %>
<% end %>

<%= render :partial => "shared/header_all" %>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<%= link_to "Sign in with Facebook", "/auth/facebook" %>
