<h1>Welcome to Signuper, all we do is Signning you up all day long!</h1>

<%= render :partial => "shared/header_all" %>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
