<div id="status">
</div>

<div class="user_image">
  <img src="<%= current_user.image %>" alt="Siley face">
</div>
<%= link_to 'Logout', logout_path %>

<h1>Welcome to Signuper, all we do is Signning you up all day long!</h1>

<h2>wohoo, you have signed up! This is user page</h2>
