<div id="logged_out_header">
  <nav><%= render :partial => "shared/index_page_modal" %></nav>
</div>
<div class="home_page_notice">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
</div>
