<%= form_for(:session, :url => login_path, :method => :post, :remote => true, :html => { :class => "login_form" }, :confirm => 'Are you sure you want to sign in?', :data => { :format => :json }) do |f| %>
  <table class="sign_in_table", cellspacing="20">
    <tr>
      <td align="left"><span class="login_table_content">Email</span></td> 
      <td><%= f.text_field(:email, :placeholder => "Email", :class => "input_box_normal")%></td>
    </tr>
    <tr>
      <td align="left"><span class="login_table_content">Password</span></td>
      <td><%= f.password_field(:password, :placeholder => "Password", :class => "input_box_normal")%></td>
    </tr>
  </table><br>
    <%= f.submit "Login", :class => "button_normal" %>
<% end %>
