.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;

  display: none;      /* Hide modal dialogs by default. */
  height: 100%;
  width: 100%;
}

.modal-button-list {
  list-style-type: none;
  margin: 0;
  line-height: 3em;
}


.my-modal .my-modal-background {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
}

.my-modal .my-modal-close {
  float: right;
}

.my-modal .my-modal-content {
  position: fixed;
  top: 5%;
  left: 50%;
  z-index: 9020;

  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 1px rgba(0,0,0,0.3);
  padding: 40px;
  margin-left: -200px;
  width: 400px;
}

.mo-modal-content {
  text-align: center;
  h2 {
    text-align: center;
  }
}
