// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_normal {
	margin-top: 1.5em;
}

.field_with_errors label {
  color: red;
  font-weight: bold;
}

.field_with_errors input {
  border: 2px solid red;
}
